html, body {
height: 100%;
}

body {
font-family: 'Open Sans', sans-serif;
background: #369 -moz-linear-gradient(#def, #369 480px) no-repeat;
margin: 0;
}

h1 {
font-size:1.5em;
font-weight:normal;
}

h2 {
font-size:1.2em;
font-weight:normal;
}

#header {
padding:8px 8px 8px 64px;
margin:0 auto 0 auto;
max-width:680px;
width:auto;
}

#menu {
max-width:680px;
width:auto;
font-size:.8em;
padding:0;
margin:0 auto 0 auto;
}

#menu ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

#menu li
{
float:left;
}

#menu a:link, #menu a:visited
{
display:block;
width:auto;
color:#000;
background-color:#fff;
border:0;
border-radius:6px 6px 0 0;
text-align:center;
padding:.2em 1em .2em 1em;
margin:0 2px 0 2px;
text-decoration:none;
}
#menu a:hover, #menu a:active
{
color:#fff;
background-color:#936;
}

#main {
max-width:680px;
margin:0 auto 0 auto;
background-color:#fff;
border:1px solid #333;
border-radius:8px;
padding:16px;
}

#info {
float:left;
width:150px;
margin:0 32px 32px 0;
padding:8px;
border:1px solid #aaa;
border-radius:8px;
}

#content {
width:480px;
float:right;
margin:0;
padding:0;
border:0;
}

#footer {
clear:both;
max-width:680px;
width:auto;
font-size:.8em;
color:#333;
margin:0;
padding:0;
}

@media only screen and (max-width: 512px), only screen and (max-device-width: 512px) {

#header, #menu, #main, #content, #footer {
width:auto;
}

#content, #info {
float:none;
}

#menu a:link, #menu a:visited {
margin:2px;
border-radius:0;
}

#main {
border:0;
border-radius:0;
}
}
