<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="google-site-verification" content="qWISntRLEfw10I8cJ9mr_MnQzdnZu0WvrfXHOG8txGo" />
<meta name="author" content="Daniel Jones http://djones.co/" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<title>Computer Trends - {{ page.title }}</title>
</head>
<body>

<div id="header">
<img src="/images/ctrends-logo.png" width="410" height="60" alt="Computer Trends" />
</div><!-- end header -->

<div id="menu">
<ul>
<li><a href="/">About Us</a></li>
<li><a href="/services/">Computer Services</a></li>
<li><a href="/internet/">Internet Services</a></li>
<li><a href="/contact/">Contact Us</a></li>
</ul>
</div><!-- end menu -->

<div id="main">

<div id="content">
<h1 class="title">{{ page.title }}</h1>
{{ content }}
</div><!-- end content -->

<div id="info">
Hours:<br />
Mon-Fri: 9AM-5PM<br />
Sat-Sun: Closed<br />
{% include facebook.html %}
</div><!-- end info -->

<div id="footer">
&copy; 2014 Computer Trends LLC
</div><!-- end footer -->

</div><!-- end main -->

</body>
</html>
