<!DOCTYPE html>
<html lang="en">
<head>
<script src="/js/redirect.js" type="text/javascript"></script>
<script type="text/javascript">Mobile_redirect("http://m.mobilewebsiteserver.com/site/ctrends1");</script>
<meta charset="UTF-8" />
<meta name="google-site-verification" content="qWISntRLEfw10I8cJ9mr_MnQzdnZu0WvrfXHOG8txGo" />
<meta name="msvalidate.01" content="D1AD20EDCB5D63A7A2B589E6350E0A9F" />
<meta name="keywords" content="computer repair virus">
<meta name="author" content="Daniel Jones http://djones.co/" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<!--[if lt IE 9]>
<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<title>Computer Repair, Data Backup, Spyware Removal: Spartanburg, SC: Computer Trends</title>
</head>
<body>
  <div class="container">
    <header>{% include header.html %}</header>
    <nav>{% include nav.html %}</nav>
    <div class="main">
      <div class="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div class="info">
        {% include info.html %}
      </div>
      <footer>{% include footer.html %}</footer>
    </div>
  </div>
  {% include google-plus-js.html %}
  {% include google_analytics.html %}
  <script src="https://www.bsrcc.com/js/snow.js"></script>
</body>
</html>
