body {
font-family:sans-serif;
background-color:#bde;
background-image:url('/images/bg.png');
background-repeat:repeat-x;
padding:0;
margin:0;
}

h1 {
font-size:1.5em;
}

h2 {
font-size:1.2em;
}

#header {
padding:1em;
margin:0 auto 0 auto;
width:700px;
}

#menu {
width:700px;
font-size:.8em;
padding:0 1em 0 1em;
margin:0 auto 0 auto;
}

#menu ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

#menu li
{
float:left;
}

#menu a:link,a:visited
{
display:block;
width:auto;
color:#000;
background-color:#fff;
border:0;
border-radius:6px 6px 0 0;
text-align:center;
padding:.2em 1em .2em 1em;
margin:0 2px 0 2px;
text-decoration:none;
}
#menu a:hover,a:active
{
background-color:#ccc;
}

#main {
box-shadow:0 0 10px #555;
width:700px;
margin:0 auto 0 auto;
background-color:#fff;
border:1px solid #000;
border-radius:8px;
padding:1em;
}

#info {
float:left;
width:auto;
margin:0 2em 2em 0;
padding:.5em;
border:1px solid #aaa;
}

#content {
width:500px;
float:left;
margin:0;
padding:0;
border:0;
}

#footer {
width:auto;
font-size:.8em;
background-color:#ccc;
border:1px solid #aaa;
margin:0;
padding:.6em;
}
